body {
    overflow-x: hidden;
}
.event-list {
    margin-bottom: 8rem;
    --columns: 2;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(var(--columns), 1fr);
    justify-content: center;
    align-items: center;
}

.event-list > .other-events {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    height: 100%;
    justify-content: space-around;
}

.event-list > .other-events > div > img {
    width: min(20rem, 45%);
    display: block;
    aspect-ratio: 3 / 2;
    border-radius: 2rem;
    cursor: pointer;
}

.event-list > .other-events > div:has(img) {
    display: grid;
    place-items: center;
    margin: auto;
}

.event-list > .other-events > .other-event-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-list > .other-events > .other-event-content > h2 {
    margin-block: 1.5rem;
    width: 90%;
    text-align: center;
}

.event-list > .other-events > .other-event-content > p {
    width: min(35rem, 90%);
}

.CSPL {
    aspect-ratio: 1 !important;
}

.logo-holder:hover >.CSPL{
    animation: rotate-card 2s ease-in-out alternate infinite;
    transform-style: preserve-3d;
    transform-origin: top;
}

.arpan {
    position: relative;
}
.arpan::after {
    content: "Coming Soon...";
    width: 50%;
    color: #f8bc04;
    font-size: min(2rem, 5vw);
    text-align: center;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.9;
    border-radius: 2rem;
    cursor: pointer;
}

@keyframes rotate-card {
    50% {
        transform: rotateY(180deg);
    }
}

@keyframes shake {
    25% {
        translate: 5px;
    }
    50% {
        translate: -5px;
    }
    75% {
        translate: 5px;
    }
    100% {
        translate: 0;
    }
}

@media only screen and (max-width: 50em) {
    #other-events {
        margin-bottom: 5rem;
    }
    
    .event-list {
        --columns: 1;
    }
    
    .event-list > .other-events > .other-event-content > p {
        text-align: center;
    }
    
    .arpan::after {
        padding-inline: 3rem;
    }
    
    .other-events p {
        font-size: 1rem;
    }
    
    .other-events h2 {
        font-size: 1.5rem;
    }}